<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900163496482-pm38m7jilu926hsadnt1eontm2pp39g4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900163496482-pm38m7jilu926hsadnt1eontm2pp39g4</string>
	<key>API_KEY</key>
	<string>AIzaSyDW7HQjopkWauechvN9NwtSHzxAlyzhZZM</string>
	<key>GCM_SENDER_ID</key>
	<string>900163496482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-908ef</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-908ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900163496482:ios:81fb15f6063dac0a14387b</string>
</dict>
</plist>